# ignore everything in the root except the "wp-content" directory.
wp/*
!wp/wp-content/

# ignore everything in the "wp-content" directory, except "themes" directory
wp/wp-content/*
!wp/wp-content/themes/
!wp/wp-content/plugins/
!robots.txt
wp/.htaccess
wp/wp-config.php

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
package-lock.json

# PHPStorm
.idea